include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt

include *.txt
include LICENSE
include *.py

# Include the data files
recursive-include data *

recursive-include example *.py
recursive-include src *.py
# added by check_manifest.py
include tox.ini
recursive-include tests *.py

# added by check_manifest.py
include Doxyfile
recursive-include docs *.bat
recursive-include docs *.css
recursive-include docs *.html
recursive-include docs *.js
recursive-include docs *.png
recursive-include docs *.sty
recursive-include docs *.tex
recursive-include docs Makefile
